/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.personal-last-block{
		margin-top: 55px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.resume-container .left, 
	.resume-container .left h3,
	.container .resume-container .resume-icon{
		text-align: left;
		margin-bottom: 10px
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.top-wrapper h1{
		font-size: 2em !important;
		padding-left: 10px;
		padding-right: 10px;
	}
	.main-footer{
		text-align: center;
	}
	.main-footer .social-wrap{
		margin-top: 20px;
	    padding-left: 0;
	    margin: 20px auto;
	    width: 100%;
	} 
	.main-footer .social-wrap ul{
		padding-left: 0;
	}
	.port-descr{
		width: 100%;
	}
	.mfp-inline-holder .mfp-content{
		width: 100%;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}